# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
uploads/
temp/
*.sqlite3
instance/
.DS_Store
*.log
.json
skoolme-ocr-b933da63cd81.json

# Node
node_modules/
dist/

# Secrets
*.json
.env

# OS
.DS_Store
Thumbs.db

__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
env/
venv/
